.caps {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.ml2 { margin-left: 1rem; }

.circle {
  animation: sweep 3s ease-in-out infinite;
  background-color: #f91515;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

@keyframes bounce {
  0% { transform: scale(0); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes otherBounce {
  0% { transform: scale(0); }
  50% { transform: scale(0.95); }
  100% { transform: scale(0.9); }
}

#wave {
  animation: moveTheWave 2400ms linear infinite;
  stroke-dasharray: 0 16 101 16;
}

@keyframes moveTheWave {

  0% {
    stroke-dashoffset: 0;
    transform: translate3d(0, 0, 0);
  }

  100% {
    stroke-dashoffset: -133;
    transform: translate3d(-90px, 0, 0);
  }

}

@keyframes sweep {

  0% {
    transform: translate3d(-120px, 0, 0);
  }

  100% {
    transform: translate3d(30em, 0, 0);
  }

}
