<svg width="300" height="300">

  <Triangle verts={ pulseVerts[3] }
            color="#FF8EAC"
            delay={ 0 } />
  <Triangle verts={ pulseVerts[2] }
            color="#FF5681"
            delay={ 60 } />
  <Triangle verts={ pulseVerts[1] }
            color="#FF3B6C"
            delay={ 110 } />
  <Triangle verts={ pulseVerts[0] }
            color="#FF1F58"
            delay={ 220 } />

</svg>
